{% extends './layout.html' %} {% block styles %}
<link rel="stylesheet" href="/styles/add.css" />
{% endblock %} {% block title %} 添加图书📚 {% endblock %} {% block content %}
<div id="app">
  <h2>{{ message }}</h2>
  <input v-model="message" />
</div>
{% endblock %} {% block scripts %}
<script type="module">
  console.log('我支持模块化💇');
  import('/scripts/add.js').then((_) => {
    const create = new _.default();
    create.fn();
  });
</script>
<script type="nomodule" src="https://cdn.staticfile.org/systemjs/3.1.2/system.js"></script>
<script type="nomodule">
  System.import("/scripts/add-bundle.js").then((_) => {
      const create = new _.default;
      create.fn();
  });
</script>
{% endblock %}
